# Thư mục hệ thống và công cụ của Linux/WSL
.cache/
.config/
.local/
.vscode-server/
snap/
.npm/
.nvm/
node_modules/
.bash_history
.bashrc
.lesshst
.motd_shown
.profile
.dotnet/
.wget-hsts

# Thư mục chứa thư viện của dự án
/english-write-ai/node_modules
/backend_hamster_english/node_modules

# Thư mục build và cache của Frontend
/english-write-ai/dist
/english-write-ai/.vite/

# File biến môi trường (Bảo mật!)
/backend_hamster_english/.env

# File sao lưu (nếu có)
backend_backup.zip
